@import "../../assets/styles/settings";

.contacts {
    padding: 100px;
    background-color: $dark-lighter;

    .contacts-wrapper {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        gap: 50px;

        .left {
            .contact-line {
                margin: 40px 0;
            }
        }
        .right {
            input,
            button {
                width: 80%;
                padding: 20px;
                margin-bottom: 10px;
                outline: none;
                border: none;
                background-color: $dark-darker;
                color: snow;
                border: 1px solid transparent;

                &::placeholder {
                    color: gray;
                }
                &:hover,
                &:focus {
                    box-shadow:
                        inset 10px 10px 50px $warning-t,
                        10px 10px 50px $warning-t,
                        -10px -10px 50px $warning-t;
                    border: 1px solid yellow;
                }
            }
        }
    }

    .maps-wrapper {
        margin: 100px 0;
        display: flex;
        justify-content: flex-start;
        gap: 50px;
    }

    @media (max-width: 1300px) {
        .maps-wrapper {
            flex-direction: column;
        }
    }

    @media (max-width: $large-screen) {
        padding: 80px;
        .contacts-wrapper {
            .right {
                input,
                button {
                    width: 100%;
                }
            }
        }
    }
    @media (max-width: $medium-screen) {
        padding: 50px;
        .contacts-wrapper {
            grid-template-columns: 1fr 1fr;
        }
    }
    @media (max-width: $small-screen) {
        padding: 50px 20px;
        .contacts-wrapper {
            grid-template-columns: 1fr;
        }
    }
}
