@import "../../assets/styles/settings";

#blog-wrapper {
    padding: 100px;
    background-color: $dark-lighter;
    .content {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap: 25px;
        font-family: cursive;

        *:not(.warning-btn) {
            margin-bottom: 20px;
        }
        .left,
        .right {
            padding: 20px;
        }
        .warning-btn {
            border: 1px solid $warning-t;
            background-color: transparent;
        }
        p {
            color: darkgray;
            font-size: 0.75em;
        }
    }

    @media (max-width: $large-screen) {
        padding: 50px;
        .content {
            grid-template-columns: 1fr 1fr;
        }
    }
    @media (max-width: $medium-screen) {
        padding: 50px 20px;
        .content {
            gap: 10px;
        }
    }
    @media (max-width: $small-screen) {
        .content {
            grid-template-columns: 1fr;

            .left {
                padding: 0;
                margin-top: 20px;
            }
            .right {
                padding: 0;
                margin-bottom: 40px;
            }
        }
    }
}
