@import "../../assets/styles/settings";

#about-page {
    #about-wrapper {
        padding: 100px;

        .about {
            margin-top: 50px;
            display: grid;
            grid-template-columns: 1fr 3fr;
            gap: 50px;

            p {
                font-family: cursive;
                color: $light;
                line-height: 24px;
            }
            img {
                filter: grayscale(100%);
            }
            .warning-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    margin-right: 10px;
                }
                @extend %warning-btn;
            }
        }
    }

    #values-wrapper {
        padding: 100px 50px;

        h2 {
            margin-bottom: 50px;
        }

        .values-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;

            .value-item {
                display: grid;
                grid-template-columns: 1fr 3fr;
                gap: 5px;
                position: relative;

                img {
                    position: absolute;
                    top: -45px;
                    left: -25px;
                    width: 200px;
                    height: 200px;
                }

                .item-info {
                    padding-top: 20px;

                    h2 {
                        margin-bottom: 20px;
                    }
                    p {
                        color: darkgray;
                    }
                }
            }
        }
    }
}

@media (max-width: $large-screen) {
    #about-page {
        #about-wrapper {
            padding: 50px;
            .about {
                grid-template-columns: 1fr 2fr;
            }
        }
        #values-wrapper {
            padding: 50px 20px;

            .values-content {
                gap: 20px;

                .value-item {
                    grid-template-columns: 120px 1fr;
                }
            }
        }
    }
}
@media (max-width: $medium-screen) {
    #about-page {
        #about-wrapper {
            padding: 30px 10px;
            .about {
                grid-template-columns: 1fr 1fr;
            }
        }
        #values-wrapper {
            .values-content {
                grid-template-columns: 1fr;

                .value-item {
                    margin-bottom: 40px;
                    grid-template-columns: 120px 1fr;
                }
            }
        }
    }
}
@media (max-width: $small-screen) {
    #about-page {
        #about-wrapper {
            .about {
                grid-template-columns: 1fr;
            }
        }
        #values-wrapper {
            padding: 20px 10px;
        }
    }
}
