@import "../../assets/styles/settings";

#about-page {
    background-color: $dark;
    color: $light;

    .about-content {
        padding: 100px 150px;

        .content {
            display: grid;
            grid-template-columns: 1fr 3fr;
            gap: 50px;
            margin: 20px 0;

            img {
                filter: grayscale(100%);
            }

            .info {
                padding-right: 50px;

                p {
                    margin-bottom: 30px;
                    color: lightgray;
                    font-size: 1.1em;
                }
                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
