@import "../../../assets/styles/settings";
.carousel-c-wrapper {
    position: relative;
    overflow: hidden;

    .carousel-c-children {
        position: absolute;
        z-index: 1;
        left: 10%;
        top: 20%;
        width: 40%;
        overflow: auto;
        font-size: 1.5em;
        padding: 15px;

        p {
            font-size: 0.8em;
            color: lightgray;
            margin: 50px 0;
        }
    }

    .carousel-root {
        .carousel-slider {
            .control-dots {
                .dot {
                    background-color: $warning;
                    transform: scale(1.4);

                    &.selected {
                        box-shadow: 0 0 10px 1px $warning;
                    }
                }
            }
        }
    }
}
