@import "../../assets/styles/settings";

header {
    background-color: $dark;
    nav {
        display: flex;
        justify-content: space-around;
        align-content: center;
        align-items: center;

        .middle {
            a {
                text-decoration: none;
                color: snow;
            }
        }
    }
}
