@import "../../assets/styles/settings";

header {
    background-color: $dark;
    color: $light;
    padding: 20px 0;

    nav {
        display: flex;
        justify-content: space-around;
        align-content: center;
        align-items: center;

        .middle {
            a {
                text-decoration: none;
                color: $light;
                padding: 10px 20px;
            }
        }
        .right {
            span {
                margin-left: 20px;
            }
        }
    }
}
