@import "../../assets/styles/settings";

#navbar-wrapper {
    background-color: $dark;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    text-align: center;
    gap: 10px;
    color: snow;
    padding: 20px;
    box-shadow: 0 4px 16px #333;

    h2 {
        font-size: 1.8em;
    }

    .nav-links,
    .auth-section {
        a {
            text-decoration: none;
            padding: 10px 20px;
            display: inline-block;
            color: snow;
        }
    }
    .auth-section {
        a {
            text-decoration: underline;
        }
        button {
            @extend %warning-btn;
        }
    }
}
