.heading-wrapper {
    h2 {
        display: inline-block;
        position: relative;
        img {
            position: absolute;
            right: -20px;
            top: -10px;
        }
    }
}
