.heading-wrapper {
    h2 {
        display: inline-block;
        position: relative;
        img {
            position: absolute;
            right: -16px;
            top: -5px;
        }
    }
}
